<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests">
    <test parallel="classes" thread-count="2" name="AllTests">
        <classes>
            <class name="com.saucedemo.tests.LoginTest"/>
        </classes>
    </test>

</suite>